
{% extends 'reservas/base.html' %}

{% block title %}Reservar - Casa Rural{% endblock %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <div class="booking-info">
            <h1>¡Reserva tu estadía con nosotros!</h1>
            <p>Nuestras reservas son gestionadas directamente por <strong>Booking.com</strong>. Por favor, haz clic en el siguiente enlace para hacer tu reserva:</p>
            <a href="https://www.booking.com/Share-725Xpo" target="_blank">Reservar en Booking.com</a>
        </div>
        <!-- Aquí puedes agregar más información sobre tu propiedad, servicios, etc. -->
    </div>
    
</body>
</html>

{% endblock %}

